body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover ;
    background-image:url("../assets/bolo-a-beça.jpg");
    background-repeat: no-repeat;
    
    
}

h1 {
    background-color: #ff9c3a;
    color: #000000;
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
   margin: 30px 200px;
   border-radius: 20px 20px;
   box-shadow: #a55c13 5px 5px;
}

h2 {
    color: #000000; 
    margin-top: 20px;
    background-color: #f1dd2eee;
    margin: 50px 200px;
    border-radius: 20px 20px;
    font-size: 20px;
    text-align: center;
    box-shadow: #ad9726 5px 5px;
}

h3 {
    color: #000000; 
    margin: 10px 0;
    background-color: #e9c440;
    text-align: center;
    margin: 30px 200px;
    border-radius: 20px 20px;
    box-shadow: #cea137 5px 5px;
}
li {
    list-style: none;
  }

p {
    line-height: 1.5;
   
}

button{
    border-radius: 100% 100% 90% 100%;
    width: 150px; 
    height: 70px;
    box-shadow: 6px 5px 8px rgb(255, 137, 52); 
   margin-left:570px;
    font-size: 20px;
   color: white;
   background: url("https://static.vecteezy.com/ti/vetor-gratis/p1/5661858-fundo-de-chocolate-derretido-com-bolos-de-chocolate-vetor.jpg");
   background-size: cover;
   }
   body {font-family: Arial, Helvetica, sans-serif;}


   .modal {
     display: none;
     position: fixed; 
     z-index: 1; 
     left: 0;
     top: 0;
     width: 100%;
     height: 100%; 
     overflow: auto;
     background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0,0.4); 
     -webkit-animation-name: fadeIn; 
     -webkit-animation-duration: 0.4s;
     animation-name: fadeIn;
     animation-duration: 0.4s
   }
   

   .modal-content {
     position: fixed;
     bottom: 0;
     background-color: #fefefe;
     width: 100%;
     -webkit-animation-name: slideIn;
     -webkit-animation-duration: 0.4s;
     animation-name: slideIn;
     animation-duration: 0.4s
   }

   .close {
     color: white;
     float: right;
     font-size: 28px;
     font-weight: bold;
   }
   
   .close:hover,
   .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
   }
   
   .modal-header {
     padding: 2px 16px;
     background-color: #fb9b00;
     color: white;
   }
   
   .modal-body {padding: 2px 16px;
background-image: url("../assets/icons8-youtube.gif");
background-repeat: no-repeat;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;

}
#closeModalBtn{
  background-color: #fb9b00;
  background-image: none;
  box-shadow: none;
  border: none;
}
   #modal{
     padding: 2px 16px;
     background-color: #fb9b00;
     color: white;
   }
   #modal p{
    font-size: 27px;
   }

   @-webkit-keyframes slideIn {
     from {bottom: -300px; opacity: 0} 
     to {bottom: 0; opacity: 1}
   }
   
   @keyframes slideIn {
     from {bottom: -300px; opacity: 0}
     to {bottom: 0; opacity: 1}
   }
   
   @-webkit-keyframes fadeIn {
     from {opacity: 0} 
     to {opacity: 1}
   }
   
   @keyframes fadeIn {
     from {opacity: 0} 
     to {opacity: 1}
   }
   